<div class="component">
    <p class="text-highlight">user-register</p>

    <form [formGroup]="registerForm">
        <mat-form-field >
            <input formControlName="email" matInput placeholder="Email" type="text">
        </mat-form-field>

        <mat-form-field >
            <input formControlName="username" matInput placeholder="User name" type="text">
        </mat-form-field>

        <mat-form-field >
            <input formControlName="password" matInput placeholder="Password" type="password">
        </mat-form-field>

        <mat-form-field >
            <input formControlName="repass" matInput placeholder="Password" type="password">
        </mat-form-field>

    </form>

    <button mat-stroked-button color="primary" (click)="goToLogin()">Login</button>
    <button mat-stroked-button color="primary" (click)="register()">Register</button>


</div>

