<div class="component">
    <p class="text-highlight">login</p>

    <div mat-dialog-content >
        <!--<mat-dialog-content class="mat-typography">-->

        <mat-tab-group class="example-full-width">
            <!--Login local-->
            <mat-tab label="Login">
                <div class="view-container mat-elevation-z4">
                    <app-user-login></app-user-login>
                </div>
            </mat-tab>
            <!--Register-->
            <mat-tab label="Register">
                <div class="view-container mat-elevation-z4">
                    <app-user-register></app-user-register>
                </div>
            </mat-tab>
        </mat-tab-group>

        <!--</mat-dialog-content>-->

    </div>


</div>


