<div class="component">
    <p class="text-highlight">user-login</p>

    <form [formGroup]="loginForm">
        <mat-form-field >
            <input formControlName="email" matInput placeholder="User name" type="text">
        </mat-form-field>

        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </div>


        <!--Buttons-->
        <div class="button-row">
            <button mat-stroked-button color="primary" (click)="goToRgister()">Register</button>
            <button mat-stroked-button color="primary" (click)="login()">Login</button>
            <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
        </div>

        <!--OAuth-->
        <div class="button-row">
            <button mat-stroked-button color="primary"
                    (click)="loginGitHub()"
                    matTooltip="Login using Github">GitHub</button>
            <button mat-stroked-button color="primary"
                    (click)="login()"
                    matTooltip="login using Facebook">Facebook</button>
            <button mat-stroked-button color="primary"
                    (click)="login()"
                    matTooltip="Login using Twitter">Twitter</button>
            <button mat-stroked-button color="primary"
                    (click)="loginGoogle()"
                    matTooltip="Login using Google">Google</button>
        </div>

    </form>
</div>

